*
!/.bash_aliases
!/.bashrc
!/.gitconfig
!/.gitignore
!/.keynavrc
!/.pam_environment
!/.programs
!/.ptignore
!/.vimrc
!/.xbindkeysrc
!/.config/
!/.config/autostart-src
!/.config/autostart-src/*
!/.config/dconf.dump
!/bin/
!/bin/ack
!/bin/backup
!/bin/e
!/bin/g
!/bin/lsrc
!/bin/noeolateof
!/bin/push
!/bin/pw
!/bin/pwretrieve
!/bin/re
!/bin/release
!/bin/replace
!/bin/toggle
!/bin/tw
!/bin/winresize
