[user]
	name = Simon Lydell
	email = simon.lydell@gmail.com
[core]
	editor = nvim
	pager = delta --diff-so-fancy
[interactive]
	diffFilter = delta --color-only
[delta]
	features = side-by-side line-numbers decorations
[diff]
	colorMoved = default
[color]
	ui = true
[credential]
	helper = cache
[push]
	default = current
[log]
	date = iso
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[init]
	defaultBranch = main
	templatedir = ~/.git-templates
[rerere]
	enabled = true
	autoupdate = true
[merge]
	conflictstyle = diff3
[pull]
	ff = only
