[user]
	name = Simon Lydell
	email = simon.lydell@gmail.com
[core]
	editor = gvim -f
	excludesfile = ~/.gitignore_global
[merge]
	tool = gvimdiff
[color]
	ui = true
[credential]
	helper = cache
[push]
	default = current
[alias]
	br = branch
	ci = commit
	co = checkout
	st = status
	last = log -1 HEAD
	unstage = reset HEAD --
	last-change = log -1 --format=%cd
	lol = log --all --graph --decorate --oneline
	lols = log --all --graph --decorate --oneline --simplify-by-decoration
[log]
	date = iso
