*
!/.bash_aliases
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.pam_environment
!/.vimrc
!/.config/
!/.config/dconf.dump
!/bin/
!/bin/noeolateof
!/bin/push
!/bin/release
!/bin/tw
!/bin/winresize
