*
!/.bash_aliases
!/.bashrc
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/.pam_environment
!/.vimrc
!/.config/
!/.config/dconf.dump
!/bin/
!/bin/ack
!/bin/lsrc
!/bin/noeolateof
!/bin/push
!/bin/pw
!/bin/pwretrieve
!/bin/release
!/bin/replace
!/bin/toggle
!/bin/tw
!/bin/winresize
