" Plugins:
set surround
set commentary
set exchange
set highlightedyank
set sneak
" Makes { and } work even if a blank line contains spaces.
set vim-paragraph-motion

" Plugins, maybe remove:
set ReplaceWithRegister

" Settings:
set clipboard+=unnamedplus,ideaput
set ignorecase
set smartcase
set incsearch
set hlsearch
set visualbell
set noerrorbells
" Smart JetBrains Join.
set ideajoin

" Change <leader> from backslash to space.
" First unmap space, so it never moves forward after a delay.
nnoremap <SPACE> <Nop>
let mapleader = " "

" Mappings:

" Quick macro playback: Record qith qq, play back with Q.
" Note: In Neovim, Q replays the latest recorded macro by default.
nnoremap Q @q

" I usually show file explorer by pressing `-` (not available in IdeaVim). Put the original `-` on `_` instead.
nnoremap _ -

" Make Y work more like C and D (as in Neovim).
nnoremap Y y$

" Clear search highlight.
nnoremap <silent> <esc> :noh<cr><esc>

" Hover (like in VSCode).
map gh <Action>(ShowHoverInfo)

" Enable “IdeaVim: Track Action IDs” in the command palette to find action names.
" Find references (like in VSCode).
map gH <Action>(FindUsages)

" Expand and shrink selection.
map h <Action>(EditorSelectWord)
map l <Action>(EditorUnSelectWord)

" Go to next and previous error in the current file.
map j <Action>(GotoNextError)
map k <Action>(GotoPreviousError)

" Don’t move the cursor when yanking in visual mode.
xnoremap y ygv<esc>

" Poor man’s edgemotion.
nnoremap <expr> ö '/^.\{' . (col('.') - 1) . '\}\S/e<CR>:nohl<CR>'
nnoremap <expr> Ö '?^.\{' . (col('.') - 1) . '\}\S?e<CR>:nohl<CR>'

" Go back and forward with backspace.
nnoremap <bs> <c-o>
nnoremap <s-bs> <c-o>

" Camel case motions.
map <leader>w [w
map <leader>b [b
map <leader>e ]w
map <leader>ge ]b

" Paste and indent.
nnoremap <leader>>p p>`]
nnoremap <leader>>P P>`]

" Yank without losing selection.
xnoremap <leader>y ygv
