set surround
set multiple-cursors
set commentary
set exchange
set highlightedyank
set textobj-entire
set ReplaceWithRegister
set vim-paragraph-motion
set textobj-indent
set clipboard+=unnamedplus
set ignorecase
set smartcase
set incsearch
set hlsearch
set visualbell
set noerrorbells

nnoremap <cr> o<esc>
nnoremap g<cr> O<esc>
nnoremap <backspace> X
nnoremap <delete> x
nnoremap <home> ^
nnoremap <end> $
nnoremap Q @q
nnoremap _ -
nnoremap Y y$
nnoremap <silent> <esc> :noh<cr><esc>
nnoremap gh :action QuickJavaDoc<cr>

map <space> <leader>

xnoremap <backspace> c
xnoremap y ygv<esc>
xnoremap p p`[v`]ygv<esc>

nmap gcc :action CommentByLineComment<CR>
vmap gc :action CommentByLineComment<CR>
