"*":
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      statusBarPosition: "right"
    use:
      "atom-ide-diagnostics-ui": "never"
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  "atom-ternjs":
    guess: false
    sort: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  "choose-pane":
    labelChars: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  "color-picker":
    preferredFormat: "HEX"
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    customFileTypes:
      "source.js.jsx": [
        "js"
      ]
      "text.html.jinja": [
        "html"
      ]
      "text.plain": [
        "template"
      ]
    packagesWithKeymapsDisabled: [
      "atom-typescript"
    ]
    projectHome: "/home/lydell/src"
    telemetryConsent: "limited"
  editor:
    scrollPastEnd: true
    softWrap: true
  "elm-format":
    binary: "elm-format"
  elmjutsu:
    autocompleteEnabled: true
    autocompleteFuzzyFilteringEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/tmp/elmjutsu6379WloCW7w9oAhA"
    showTypesInTooltip: true
  "exception-reporting":
    userId: "60c3fc6f-0001-fdb6-f824-d0193742cf3f"
  "flow-ide":
    useLSP: true
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-plus":
    commits:
      verboseCommits: true
    general:
      enableStatusBarIcon: false
      openInPane: false
      splitPane: "Right"
  jumpy:
    customKeys: [
      "e"
      "h"
      "s"
      "t"
      "i"
      "r"
      "n"
      "o"
      "a"
      "m"
      "u"
      "p"
      "c"
      "w"
      "l"
      "f"
      "g"
      "d"
      "y"
    ]
    fontSize: 1
    highContrast: true
  "language-elm":
    autocompleteEnabled: false
    elmOraclePath: "/home/lydell/.npm-global/bin/elm-oracle"
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
      rulesToDisableWhileFixing: [
        "no-debugger"
      ]
    scopes: [
      "source.js"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.flow"
    ]
  "linter-flake8":
    executablePath: "$PROJECT/.venv/bin/flake8;/bin/true"
    flakeErrors: true
  "linter-stylelint":
    fixOnSave: true
  "linter-ui-default":
    gutterPosition: "Left"
    statusBarPosition: "Right"
    tooltipFollows: "Keyboard"
  "markdown-preview":
    useGitHubStyle: true
  miniprettier:
    options:
      trailingComma: "es5"
  "one-dark-ui":
    fontSize: 12
    tabSizing: "Minimum"
  "one-light-ui":
    fontSize: 12
    tabSizing: "Minimum"
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
  "python-black":
    fmtOnSave: false
  react:
    disableAutoClose: true
    enabledForAllJavascriptFiles: true
  "relative-numbers": {}
  "spell-check":
    locales: [
      "sv-SE"
      "en-US"
    ]
  "theme-switch":
    profiles: [
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "trailing-spaces":
    enableForIndentation: true
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    squashDirectoryNames: true
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
      "<"
    ]
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    findAcrossLines: true
    findCharsMax: 100
    findConfirmByTimeout: 200
    flashOnMoveToOccurrence: true
    hideCommandsFromCommandPalette: true
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    keymapYToYankToLastCharacterOfLine: true
    numberRegex: "(?:\\B-)?[0-9]+"
    showHoverOnOperate: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useLanguageIndependentNonWordCharacters: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
".coffee.jsx.source":
  editor:
    softWrapAtPreferredLineLength: false
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".html.jinja.text":
  editor:
    commentEnd: " -#}"
    commentStart: "{#- "
".plain.text":
  editor:
    softWrapAtPreferredLineLength: true
