"*":
  "advanced-open-file":
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-ternjs":
    guess: false
    sort: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab always, enter when suggestion explicitly selected"
  "autocomplete-python":
    useKite: false
    useSnippets: "required"
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  "choose-pane":
    labelChars: "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  "color-picker":
    preferredFormat: "HEX"
  core:
    autoHideMenuBar: true
    customFileTypes:
      "text.html.jinja": [
        "html"
      ]
    disabledPackages: [
      "deprecation-cop"
      "atom-ternjs"
      "flow-ide"
      "atom-typescript"
      "autocomplete-haskell"
      "elm-format"
      "elmjutsu"
      "file-icons"
      "language-elm"
      "language-fish-shell"
      "language-haskell"
      "linter-elm-make"
      "pigments"
    ]
    projectHome: "/home/lydell/src"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    scrollPastEnd: true
    softWrap: true
  "elm-format":
    binary: "elm-format"
  elmjutsu:
    autocompleteEnabled: true
    autocompleteFuzzyFilteringEnabled: true
    autocompleteSnippetsEnabled: true
    cacheDirectory: "/tmp/elmjutsu6379WloCW7w9oAhA"
    showTypesInTooltip: true
  "exception-reporting":
    userId: "60c3fc6f-0001-fdb6-f824-d0193742cf3f"
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-plus":
    commits:
      verboseCommits: true
    general:
      enableStatusBarIcon: false
      openInPane: false
      splitPane: "Right"
  jumpy:
    fontSize: 1
    highContrast: true
  "language-elm":
    autocompleteEnabled: false
    elmOraclePath: "/home/lydell/.npm-global/bin/elm-oracle"
  "linter-eslint":
    fixOnSave: true
    ignoreFixableRulesWhileTyping: true
    rulesToDisableWhileFixing: [
      "no-debugger"
    ]
  "linter-flake8":
    executablePath: "$PROJECT/.venv/bin/flake8;/bin/true"
    flakeErrors: true
  "linter-ui-default":
    gutterPosition: "Left"
    statusBarPosition: "Right"
    tooltipFollows: "Keyboard"
  "one-dark-ui":
    fontSize: 12
    tabSizing: "Minimum"
  "one-light-ui":
    fontSize: 12
    tabSizing: "Minimum"
  "prettier-atom":
    formatOnSaveOptions:
      isDisabledIfNoConfigFile: true
      isDisabledIfNotInPackageJson: true
  react:
    disableAutoClose: true
    enabledForAllJavascriptFiles: true
  "relative-numbers":
    softWrapsCount: false
  "theme-switch":
    profiles: [
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "trailing-spaces":
    enableForIndentation: true
  "tree-view":
    alwaysOpenExisting: true
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    squashDirectoryNames: true
  "vim-mode-plus":
    charactersToAddSpaceOnSurround: [
      "("
      "{"
      "["
      "<"
    ]
    clearHighlightSearchOnResetNormalMode: true
    clearPersistentSelectionOnResetNormalMode: true
    findAcrossLines: true
    flashOnMoveToOccurrence: true
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    keymapYToYankToLastCharacterOfLine: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    numberRegex: "(?:\\B-)?[0-9]+"
    showHoverOnOperate: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 200
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 200
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
    removeTrailingWhitespace: false
".coffee.jsx.source":
  editor:
    softWrapAtPreferredLineLength: false
".gfm.source":
  editor:
    softWrapAtPreferredLineLength: true
".html.jinja.text":
  editor:
    commentEnd: " -#}"
    commentStart: "{#- "
".plain.text":
  editor:
    softWrapAtPreferredLineLength: true
