'body':
  'alt--': 'tree-view:toggle'
  'ctrl-_': 'tree-view:toggle-focus'
  'ctrl-escape': 'core:cancel'

'atom-workspace':
  'ctrl-i': 'cursor-history:next'
  'ctrl-o': 'cursor-history:prev'
  'ctrl-shift-i': 'cursor-history:next-within-editor'
  'ctrl-shift-o': 'cursor-history:prev-within-editor'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ',': 'vim-mode-plus:repeat-find'
  ';': 'vim-mode-plus:repeat-find-reverse'
  '-': 'tree-view:toggle-focus'
  '_': 'vim-mode-plus:move-to-first-character-of-line-up'
  'alt-b': 'editor:move-to-previous-subword-boundary'
  'alt-w': 'editor:move-to-next-subword-boundary'
  'backspace': 'vim-mode-plus:delete-left'
  'ctrl-b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-h': 'symbols-view:toggle-file-symbols'
  'ctrl-shift-space': 'vim-mode-plus:scroll-full-screen-up'
  'ctrl-space': 'vim-mode-plus:scroll-full-screen-down'
  'ctrl-t': 'fuzzy-finder:toggle-file-finder'
  'ctrl-q': 'unmap!'
  'ctrl-left': 'window:focus-pane-on-left'
  'ctrl-right': 'window:focus-pane-on-right'
  'ctrl-up': 'window:focus-pane-above'
  'ctrl-down': 'window:focus-pane-below'
  'delete': 'vim-mode-plus:delete-right'
  'g _': 'vim-mode-plus:snake-case'
  'g down': 'vim-mode-plus:move-down-screen'
  'g up': 'vim-mode-plus:move-up-screen'
  'g x home': 'tabs:close-tabs-to-left'
  'g x end': 'tabs:close-tabs-to-right'
  'g x a': 'tabs:close-other-tabs'
  'g x A': 'close-other-panes:close-other-panes'
  'g x x': 'tabs:close-all-tabs'
  'home': 'vim-mode-plus:move-to-first-character-of-line'
  'j': 'vim-mode-plus:toggle-line-comments'
  'l': 'jumpy:toggle'
  'shift-Y': 'vim-mode-plus:yank-to-last-character-of-line'
  'shift-down': 'vim-mode-plus:scroll-down'
  'shift-tab': 'pane:show-previous-item'
  'shift-up': 'vim-mode-plus:scroll-up'
  'space ,': 'linter-ui-default:next-in-current-file'
  'space ;': 'linter-ui-default:previous-in-current-file'
  'space a': 'advanced-open-file:toggle'
  'space n': 'fuzzy-finder:toggle-file-finder'
  'space s': 'spell-check:correct-misspelling'
  'space q': 'core:close'
  'space w': 'core:save'
  'space': 'unmap!'
  'tab': 'pane:show-next-item'

'atom-text-editor.vim-mode-plus.normal-mode':
  'c H': 'vim-mode-plus:change-surround'
  'c h': 'vim-mode-plus:change-surround-any-pair'
  'c space h': 'vim-mode-plus:change-surround-any-pair-allow-forwarding'
  'd H': 'vim-mode-plus:delete-surround'
  'd h': 'vim-mode-plus:delete-surround-any-pair'
  'd space h': 'vim-mode-plus:delete-surround-any-pair-allow-forwarding'
  'h': 'vim-mode-plus:surround'
  'enter': 'vim-mode-plus:add-blank-line-below'
  'shift-enter': 'vim-mode-plus:add-blank-line-above'

'atom-text-editor.vim-mode-plus.operator-pending-mode.toggle-line-comments-pending':
  'j': 'vim-mode-plus:toggle-line-comments'

'atom-text-editor.vim-mode-plus.operator-pending-mode.surround-pending':
  'h': 'vim-mode-plus:inner-current-line'

'atom-text-editor.vim-mode-plus.visual-mode:not(.insert-mode)':
  'h': 'vim-mode-plus:surround'

'atom-text-editor.vim-mode-plus.visual-mode.is-narrowed':
  'space d': 'vim-mode-plus:select-occurrence'
  'space D': 'vim-mode-plus:change-occurrence'

'atom-text-editor.vim-mode-plus.has-occurrence:not(.insert-mode)':
  'tab': 'vim-mode-plus:move-to-next-occurrence'
  'shift-tab': 'vim-mode-plus:move-to-previous-occurrence'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'a space s': 'vim-mode-plus:a-any-pair-allow-forwarding'
  'i space s': 'vim-mode-plus:inner-any-pair-allow-forwarding'
  'a space {': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'i space {': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a space }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'i space }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a space B': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'i space B': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a space [': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'i space [': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'a space ]': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'i space ]': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'a space (': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'i space (': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a space )': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'i space )': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a space b': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'i space b': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a space <': 'vim-mode-plus:a-angle-bracket-allow-forwarding'
  'i space <': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'
  'a space >': 'vim-mode-plus:a-angle-bracket-allow-forwarding'
  'i space >': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="git-commit"]':
  'space q': 'core:save'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="elm"]':
  'space g': 'elmjutsu:go-to-definition'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="js"]':
  'space g': 'atom-ternjs:definition'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="python"]':
  'space g': 'autocomplete-python:go-to-definition'

'.corrections atom-text-editor[mini]':
  'escape': 'core:cancel'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-s': 'pane:split-down'
  'ctrl-v': 'pane:split-right'

'.tree-view':
  '-': 'tree-view:toggle-focus'
  '_': 'tree-view:reveal-active-file'
