'body':
  'alt--': 'tree-view:toggle'
  'ctrl-_': 'tree-view:toggle-focus'
  'ctrl-escape': 'core:cancel'

'atom-workspace':
  'ctrl-i': 'cursor-history:next-within-editor'
  'ctrl-o': 'cursor-history:prev-within-editor'

  'ctrl-shift-i': 'cursor-history:next'
  'ctrl-shift-o': 'cursor-history:prev'
  'alt-shift-u': 'tabs:close-tabs-to-right'

'atom-text-editor:not([mini])':
  'ctrl-shift-c': 'editor:copy-path'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  ',': 'vim-mode-plus:repeat-find'
  ';': 'vim-mode-plus:repeat-find-reverse'
  '-': 'jumpy:toggle'
  '_': 'vim-mode-plus:move-to-first-character-of-line-up'
  'alt-b': 'vim-mode-plus:move-to-previous-subword'
  'alt-w': 'vim-mode-plus:move-to-next-subword'
  'backspace': 'vim-mode-plus:delete-left'
  'ctrl-b': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-f': 'find-and-replace:show'
  'ctrl-h': 'symbols-view:toggle-file-symbols'
  'ctrl-shift-space': 'vim-mode-plus:scroll-full-screen-up'
  'ctrl-space': 'vim-mode-plus:scroll-full-screen-down'
  'ctrl-t': 'fuzzy-finder:toggle-file-finder'
  'ctrl-q': 'unmap!'
  'ctrl-left': 'window:focus-pane-on-left'
  'ctrl-right': 'window:focus-pane-on-right'
  'ctrl-up': 'window:focus-pane-above'
  'ctrl-down': 'window:focus-pane-below'
  'delete': 'vim-mode-plus:delete-right'
  'g _': 'vim-mode-plus:snake-case'
  'g numpad6': 'vim-mode-plus:trim-string'
  'g down': 'vim-mode-plus:move-down'
  'g up': 'vim-mode-plus:move-up'
  'down': 'vim-mode-plus:move-down-screen'
  'up': 'vim-mode-plus:move-up-screen'
  'g numpad9': 'vim-mode-plus:move-to-first-character-of-screen-line'
  'g P': 'vim-mode-plus:put-before-with-auto-indent',
  'g p': 'vim-mode-plus:put-after-with-auto-indent',
  'g x home': 'tabs:close-tabs-to-left'
  'g x end': 'tabs:close-tabs-to-right'
  'g x a': 'tabs:close-other-tabs'
  'g x x': 'tabs:close-all-tabs'
  'home': 'vim-mode-plus:move-to-first-character-of-line'
  'j': 'vim-mode-plus:toggle-line-comments'
  'l': 'vim-mode-plus:select'
  'numpad0': 'vim-mode-plus:move-to-last-character-of-line'
  'numpad1': 'vim-mode-plus:move-up-to-edge'
  'numpad2': 'vim-mode-plus:move-down-to-edge'
  'numpad3': 'vim-mode-plus:move-to-pair'
  'numpad4': 'vim-mode-plus:move-to-previous-sentence'
  'numpad5': 'vim-mode-plus:move-to-next-sentence'
  'numpad6': 'vim-mode-plus:move-to-column'
  'numpad7': 'vim-mode-plus:move-to-previous-paragraph'
  'numpad8': 'vim-mode-plus:move-to-next-paragraph'
  'numpad9': 'vim-mode-plus:move-to-first-character-of-line'
  'shift-Y': 'vim-mode-plus:yank-to-last-character-of-line'
  'shift-down': 'vim-mode-plus:mini-scroll-down'
  'shift-tab': 'pane:show-previous-item'
  'shift-up': 'vim-mode-plus:mini-scroll-up'
  'space ,': 'linter-ui-default:next-in-current-file'
  'space ;': 'linter-ui-default:previous-in-current-file'
  'space a': 'advanced-open-file:toggle'
  'space d': 'datatip:toggle'
  'space e': 'hyperclick:confirm-cursor'
  'space f': 'miniprettier:format'
  'space n': 'fuzzy-finder:toggle-file-finder'
  'space q': 'core:close'
  'space w': 'core:save'
  'space': 'unmap!'
  'tab': 'pane:show-next-item'

'atom-text-editor.vim-mode-plus.with-count:not(.insert-mode)':
  'numpad3': 'vim-mode-plus:move-to-line-by-percent'

'atom-text-editor.vim-mode-plus.normal-mode':
  'c H': 'vim-mode-plus:change-surround'
  'c h': 'vim-mode-plus:change-surround-any-pair'
  'c space h': 'vim-mode-plus:change-surround-any-pair-allow-forwarding'
  'd H': 'vim-mode-plus:delete-surround'
  'd h': 'vim-mode-plus:delete-surround-any-pair'
  'd space h': 'vim-mode-plus:delete-surround-any-pair-allow-forwarding'
  'h': 'vim-mode-plus:surround'
  'enter': 'vim-mode-plus:add-blank-line-below'
  'shift-enter': 'vim-mode-plus:add-blank-line-above'

'atom-text-editor.vim-mode-plus.insert-mode':
  'ctrl-i': 'spell-check:correct-misspelling'

'atom-text-editor.vim-mode-plus.operator-pending-mode.toggle-line-comments-pending':
  'j': 'vim-mode-plus:toggle-line-comments'

'atom-text-editor.vim-mode-plus.operator-pending-mode.surround-pending':
  'h': 'vim-mode-plus:inner-current-line'

'atom-text-editor.vim-mode-plus.visual-mode:not(.insert-mode)':
  'h': 'vim-mode-plus:surround'

'atom-text-editor.vim-mode-plus.visual-mode.is-narrowed':
  'space d': 'vim-mode-plus:select-occurrence'
  'space D': 'vim-mode-plus:change-occurrence'

'atom-text-editor.vim-mode-plus.has-occurrence:not(.insert-mode)':
  'tab': 'vim-mode-plus:move-to-next-occurrence'
  'shift-tab': 'vim-mode-plus:move-to-previous-occurrence'

'atom-text-editor.vim-mode-plus.operator-pending-mode, atom-text-editor.vim-mode-plus.visual-mode':
  'i m': 'vim-mode-plus:inner-arguments'
  'a m': 'vim-mode-plus:a-arguments'
  'i numpad1': 'vim-mode-plus:inner-square-bracket'
  'a numpad1': 'vim-mode-plus:a-square-bracket'
  'i numpad2': 'vim-mode-plus:inner-square-bracket'
  'a numpad2': 'vim-mode-plus:a-square-bracket'
  'a numpad7': 'vim-mode-plus:a-curly-bracket'
  'i numpad7': 'vim-mode-plus:inner-curly-bracket'
  'a numpad8': 'vim-mode-plus:a-curly-bracket'
  'i numpad8': 'vim-mode-plus:inner-curly-bracket'
  'a space s': 'vim-mode-plus:a-any-pair-allow-forwarding'
  'i space s': 'vim-mode-plus:inner-any-pair-allow-forwarding'
  'a space {': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'a space altgraph {': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'a space numpad7': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'i space {': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'i space altgraph {': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'i space numpad7': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a space }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'a space altgraph }': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'a space numpad8': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'i space }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'i space altgraph }': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'i space numpad8': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a space B': 'vim-mode-plus:a-curly-bracket-allow-forwarding'
  'i space B': 'vim-mode-plus:inner-curly-bracket-allow-forwarding'
  'a space [': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'a space altgraph [': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'a space numpad1': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'i space [': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'i space altgraph [': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'i space numpad1': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'a space ]': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'a space altgraph ]': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'a space numpad2': 'vim-mode-plus:a-square-bracket-allow-forwarding'
  'i space ]': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'i space altgraph ]': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'i space numpad2': 'vim-mode-plus:inner-square-bracket-allow-forwarding'
  'a space (': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'a space numpad4': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'i space (': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'i space numpad4': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a space )': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'a space numpad5': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'i space )': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'i space numpad5': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a space b': 'vim-mode-plus:a-parenthesis-allow-forwarding'
  'i space b': 'vim-mode-plus:inner-parenthesis-allow-forwarding'
  'a space <': 'vim-mode-plus:a-angle-bracket-allow-forwarding'
  'i space <': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'
  'a space >': 'vim-mode-plus:a-angle-bracket-allow-forwarding'
  'i space >': 'vim-mode-plus:inner-angle-bracket-allow-forwarding'

'atom-text-editor.vim-mode-plus-input-char-waiting':
  'numpad0': 'vim-mode-plus:set-input-char-$'
  'numpad1': 'vim-mode-plus:set-input-char-['
  'numpad2': 'vim-mode-plus:set-input-char-]'
  'numpad3': 'vim-mode-plus:set-input-char-%'
  'numpad4': 'vim-mode-plus:set-input-char-('
  'numpad5': 'vim-mode-plus:set-input-char-)'
  'numpad6': 'vim-mode-plus:set-input-char-|'
  'numpad7': 'vim-mode-plus:set-input-char-{'
  'numpad8': 'vim-mode-plus:set-input-char-}'
  'numpad9': 'vim-mode-plus:set-input-char-^'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="git-commit"]':
  'space q': 'core:save'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="elm"]':
  'space g': 'elmjutsu:go-to-definition'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="js"]':
  'space g': 'atom-ternjs:definition'

'atom-text-editor.vim-mode-plus.normal-mode[data-grammar~="python"]':
  'space g': 'autocomplete-python:go-to-definition'

'atom-text-editor.vim-mode-plus.insert-mode.autocomplete-active':
  'shift-escape': 'autocomplete-plus:cancel'

'.corrections atom-text-editor[mini]':
  'escape': 'core:cancel'

'.fuzzy-finder atom-text-editor[mini]':
  'ctrl-shift-s': 'pane:split-down'
  'ctrl-s': 'pane:split-right'

'.tree-view':
  '-': 'tree-view:reveal-active-file'
