@-moz-document url('chrome://browser/content/browser.xul') {
  /* Turn the URL bar stop button into a throbber */
  #urlbar-stop-button:not(:hover) > image {
    list-style-image: url("chrome://global/skin/icons/loading.png") !important;
    -moz-image-region: auto !important;
  }


  /* Smaller VimFx hint markers */
  #VimFxMarkersContainer .marker {
    --padding: 0.15em;
    padding: 0.05em var(--padding);
    font-size: 0.9em;
  }


  /* `display: none`s: */

  /* Adblock Plus Context Menu items */
  #contentAreaContextMenu .abp-contextmenuitem,

  /* DOM Inspector - DOM view - 3 unnecessary lines */
  #olNodeInfo > rows,

  /* URL bar Dropmarker */
  #urlbar dropmarker,

  #dummy:not(#dummy) {
    display: none !important;
  }
}

/* DOM Inspector - Stacked panels */
@-moz-document url('chrome://inspector/content/inspector.xul') {
  #bxPanelSet {
    -moz-box-orient: vertical !important;
  }
}

/* about:blank */
@-moz-document url('chrome://browser/content/browser.xul') {
  browser[type='content-primary'] {
    background-color: Window !important;
  }
}
@-moz-document url('about:blank') {
  body:empty:not([style]):not([text]):not([class]):not([onresize]) {
    background-color: Window !important;
  }
}
