@namespace url("http://www.w3.org/1999/xhtml");

@-moz-document regexp("https?://(?!([^.]+\\.)?localhost|\\d).*") {
  /* Focus */
  :focus {
    outline: 2px solid orange !important;
  }


  /* Tab size */
  *:not(#override) {
    -moz-tab-size: 2 !important;
  }


  /* Textareas - Resize always */
  html textarea {
    resize: both !important;
  }
}

@-moz-document domain("wikipedia.org") {
  @media (min-width: 1090px) {
    #mw-head {
      width: 750px !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
    }

    #p-personal {
      right: 0 !important;
    }

    #left-navigation {
      margin-left: 0 !important;
    }

    #p-search {
      margin-right: 0 !important;
    }

    .mw-body,
    #footer {
      max-width: 700px !important;
      border-right-width: 1px !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
}
