@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

$tabbar-width: 200px;
$tab-border-width: 1px;

#main-window:not([customizing]) {
  &[vimfx-config-tabbar-visibility='fixed'] {
    #content-deck {
       padding-right: ($tabbar-width - $tab-border-width);
    }

    #TabsToolbar::before {
      opacity: 0;
    }
  }

  &[vimfx-config-tabbar-visibility='hidden'] {
    #TabsToolbar {
      visibility: hidden;
    }
  }

  // 'floating' is the default. 'temporary' is basically the same.
  // &[vimfx-config-tabbar-visibility='floating'],
  // &[vimfx-config-tabbar-visibility='temporary']

  #TabsToolbar {
    position: fixed;
    top: 41px;
    bottom: 0;
    right: -$tab-border-width;
    width: $tabbar-width;
    -moz-appearance: none;
    counter-reset: tabs-counter;

    // This _does_ cause a functional scrollbar to appear when needed, but
    // unfortunately the mouse wheel only scrolls when hovering the scrollbar.
    // Oh well.
    overflow-y: auto;

    // Tab bar background.
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: Window;
      opacity: 0.5;
    }

    // Tab bar border.
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: ThreeDShadow;
    }

    > :not(#tabbrowser-tabs),
    .tabbrowser-arrowscrollbox > :not(.arrowscrollbox-scrollbox) {
      display: none;
    }

    #tabbrowser-tabs {
      width: 100%;
    }

    .arrowscrollbox-scrollbox {
      -moz-padding-start: 0;
      -moz-padding-end: 0;
    }

    .scrollbox-innerbox {
      display: flex;
      flex-direction: column;
    }
  }

  .tabbrowser-tab {
    width: 100%;
    max-width: none;
    border: $tab-border-width solid ThreeDShadow;
    margin-top: -$tab-border-width;
    background-color: Window;
    color: WindowText;
    pointer-events: auto;
    counter-increment: tabs-counter;

    &:hover {
      background-color: ThreeDShadow;
    }

    &[visuallyselected='true'] {
      border-color: Highlight;
      background: Highlight;
      color: HighlightText;
    }

    &[pending] {
      opacity: 0.6;
    }
    &[unread]:not([VimFx-visited]) {
      font-style: italic;
    }
    &[unread][VimFx-visited] {
      font-weight: bold;
    }
  }

  .tab-background {
    display: none;
  }

  .tab-stack {
    width: 100%;
    height: 24px;
  }

  .tab-content {
    padding-inline-start: 4px;
    padding-inline-end: 4px;
  }

  .tab-throbber,
  .tab-icon-image,
  .tab-icon-sound,
  .tab-close-button {
    margin-top: 0;
  }

  .tab-throbber,
  .tab-icon-image {
    margin-inline-end: 4px;
  }

  .tab-icon-image:not([busy]):not([pinned]),
  .tab-close-button {
    display: block;
  }

  .tab-close-button {
    visibility: hidden;

    &:not(:hover) {
      background-image: -moz-image-rect(url('chrome://global/skin/icons/close.svg'), 0, 16, 16, 0) !important;
    }

    &::before {
      content: counter(tabs-counter);
      visibility: visible;
      font-weight: normal;
      font-style: normal;
    }
  }

  .tabbrowser-tab:hover .tab-close-button {
    visibility: visible;

    &::before {
      visibility: hidden;
    }
  }

  // Put the devtools on top of the tab bar.
  .devtools-toolbox-bottom-iframe {
    position: relative;
    z-index: 1;
  }
}
